<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="Smtp" value="smtp-relay.sendinblue.com"/>
    <add key="User" value="adrianne.soliveira@gmail.com"/>
    <add key="Password" value="PRCTOZYFdNs7SJfr"/>
    <add key="EmailFrom" value="adrianne.soliveira@gmail.com"/>
    <add key="ListEmails" value =""/>
    <add key="Team" value="Teste de Ferramenta"/>
    <add key="Subject" value="Ticket Ready for Review QA"/>
  </appSettings>
</configuration>